.root {
    padding: 15px;
    margin-bottom: 15px;
    background: #3e3e3e;
    border-bottom: 2px solid #9d9d9d;
}

.container {
    max-width: 1330px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    color: #fff;
}

.leftText {
    font-size: 36px;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.right {

}
